**One Sample t Test**

In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

Example
- Suppose that a beach is safe to swim if the mean of lead in the water is 10.0 (µ0) parts/million
- We assume Xi ~ N (µ,σ = 1.5)
- Water safety is going to be determined by taking 40 water samples and using the test statistic.
- Sample mean = 10.5
- α = 0.05

In [3]:
xbar = 10.5 
sigma = 1.5
n= 40
mu = 10

-  H0 : mu =10
-  H1 : mu > 10

### Test statistic

In [6]:
z = (xbar - mu ) / (sigma / np.sqrt(n))
z

2.1081851067789197

### p-value

In [7]:
p = 1-stats.norm.cdf(z)
p

0.017507490509831247

In [8]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [9]:
df = sns.load_dataset("mpg")

In [10]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [12]:
df[df["origin"]== "usa"].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,249.000000,249.000000,249.000000,245.00000,249.000000,249.000000,249.000000
mean,20.083534,6.248996,245.901606,119.04898,3361.931727,15.033735,75.610442
std,6.402892,1.661425,98.501839,39.89779,794.792506,2.751112,3.677094
min,9.000000,4.000000,85.000000,52.00000,1800.000000,8.000000,70.000000
25%,15.000000,4.000000,151.000000,88.00000,2720.000000,13.000000,73.000000
50%,18.500000,6.000000,250.000000,105.00000,3365.000000,15.000000,76.000000
75%,24.000000,8.000000,318.000000,150.00000,4054.000000,16.900000,79.000000
max,39.000000,8.000000,455.000000,230.00000,5140.000000,22.200000,82.000000

H0 : mu = 110
H1 : mu < 110

In [14]:
stats.ttest_1samp(df[df["origin"]== "usa"]["horsepower"].dropna(), 110, alternative="greater")

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.0002310035889540432)

H0 : mu = 22
H1 : mu < 22

In [17]:
stats.ttest_1samp(df[df["origin"]== "usa"]["mpg"], 22, alternative="less")

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=1.9455026028456406e-06)

H0 : mu = 22
H1 : mu > 100

In [18]:
stats.ttest_1samp(df[df["origin"] == "europe"]["horsepower"].dropna(),100)

Ttest_1sampResult(statistic=-7.953024725516988, pvalue=2.92474723426341e-11)

In [ ]:
H0 : mu = 3000
H1 : mu != 3000

In [19]:
stats.ttest_1samp(
    df[ df['origin'] == 'europe']['weight'].dropna(), 
    3000)

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)